extend ../layout

block content
  header
    a(href='/') Home
    br
    br
    a(href='/bicicletas/create') Nueva Bicicleta
    table.table
      thead
        tr
          th(scope='col') #ID
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
      tbody
        each bici in bicycles
          tr
            td(scope='row')=bici.id
            td=bici.color
            td=bici.modelo
            td=bici.latitud+","+bici.longitud
            td
              a(href='/bicicletas/'+bici.id+'/show') Mostrar
            td
              a(href='/bicicletas/'+bici.id+'/update') editar
            td
              form.inline(method='post' action='/bicicletas/'+bici.id+'/delete')
                input(type='hidden' name='id' value=bici.id)
                button.link-button(type='submit' name='submit_param' value='submit_value' class='.btn')='Eliminar'
            td
              if bici.alquilada === null
                form.inline(method='post' action='/bicicletas/'+bici.id+'/alquilar')
                  input(type='hidden' name='id' value=bici.id)
                  input(type='hidden' name='alquilada' value=iduser)
                  button.link-button(type='submit' name='submit_param' value='submit_value' class='.btn')='Alquilar'
              else
                p Ya alquilada
            